[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
garuda = {editable = true, path = "."}
orm-choices = "*"
inflect = "*"
grpcio = "*"
grpcio-tools = "*"

[dev-packages]
neovim = "*"
django-extensions = "*"
ipdb = "*"
twine = "*"

[requires]
python_version = "3.7"
